{% extends "base.html" %}
{% block content %}

<h2>Add Member</h2>

<form action="/save_member" method="POST">

<h3>Personal Identification</h3>
Name: <input type="text" name="name" required><br>
ID Number: <input type="text" name="id_number"><br>
Birthdate: <input type="date" name="birthdate"><br>
Phone: <input type="text" name="phone"><br>

Gender:
<select name="gender">
    <option>Male</option>
    <option>Female</option>
</select><br>

Marital Status:
<select name="marital_status" id="marital" onchange="toggleParent()">
    <option>Married</option>
    <option>Widow</option>
    <option>Widower</option>
    <option>Divorced</option>
    <option>Single</option>
</select><br>

<div id="parentField" style="display:none;">
Parent Name: <input type="text" name="parent_name"><br>
</div>

<h3>Location</h3>
District:
<select name="district">
    <option>Kicukiro</option>
    <option>Nyarugenge</option>
    <option>Gasabo</option>
</select><br>

Sector: <input name="sector"><br>
Cell: <input name="cell"><br>
Village: <input name="village"><br>

<h3>Church</h3>
Role:
<select name="role">
    <option>Christian</option>
    <option>COGEE Member</option>
    <option>Choir Committee Member</option>
    <option>Choir Member</option>
</select><br>

Baptized:
<select name="baptized">
    <option>Yes</option>
    <option>No</option>
</select><br>

Baptized Date:
<input type="date" name="baptized_date"><br>

Status:
<select name="status" id="status" onchange="toggleReason()">
    <option>Active</option>
    <option>Deactive</option>
</select><br>

<div id="reasonField" style="display:none;">
Reason:
<select name="reason">
    <option>Changed location</option>
    <option>Changed church</option>
    <option>1 year inactive</option>
    <option>Abusing regulations</option>
</select>
</div>

<br>
<button type="submit">Save</button>

</form>

<script>
function toggleParent() {
    let m = document.getElementById("marital").value;
    document.getElementById("parentField").style.display = (m === "Single") ? "block" : "none";
}

function toggleReason() {
    let s = document.getElementById("status").value;
    document.getElementById("reasonField").style.display = (s === "Deactive") ? "block" : "none";
}
</script>

{% endblock %}