{% extends "base.html" %}
{% block content %}

<h2>Church Members</h2>

<a href="/members/add"><button>Add Member</button></a>

<table border="1">
<tr>
    <th>Name</th>
    <th>ID</th>
    <th>Phone</th>
    <th>Gender</th>
    <th>Status</th>
    <th>Action</th>
</tr>

{% for m in members %}
<tr>
    <td>{{ m[1] }}</td>
    <td>{{ m[2] }}</td>
    <td>{{ m[4] }}</td>
    <td>{{ m[5] }}</td>
    <td>{{ m[15] }}</td>
    <td>
        <a href="/edit_member/{{ m[0] }}">Edit</a> |
        <a href="/delete_member/{{ m[0] }}">Delete</a>
    </td>
</tr>
{% endfor %}

</table>

{% endblock %}